@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: whitesmoke;
}
.container{
    width: 80vw;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    box-sizing: border-box;
}
.container .box{
    position: relative;
    width: 25vw;
    height: 50vh;
    min-height: 320px;
    background: #f2f2f2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}
.container .box::before{
    content: '\201c';
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
}
.container .box::after{
    content: '\201D';
    position: absolute;
    bottom: -10%;
    right: 5px;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;
}
.container .box p{
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
}
.container .box h2{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
}
.container .box:hover{
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0,0,0,0.5);
}
.container .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container .box.box1:hover, .container.box.box1:hover~bg{
    opacity: 1;
    background: #7c7a79;
    background: linear-gradient(135deg, #7c7a79 15%, #2b94e5 100%);
}    
.container .box.box2:hover, .container.box.box2:hover~bg{
    opacity: 1;
    background: #7c7a79;
    background: linear-gradient(135deg, #7c7a79 15%, #2b94e5 100%);
} 
.container .box.box3:hover, .container.box.box3:hover~bg{
    opacity: 1;
    background: #7c7a79;
    background: linear-gradient(135deg, #7c7a79 15%, #2b94e5 100%);
} 
.container .box a:link{
    color: grey;
}
#head{
    margin-bottom: 100px;
    border: 2px groove black;
    border-radius: 5px;
}
.container .box a{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;      
    color: salmon;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
}
